caption {
    overflow: hidden; width: 1px; font-size: 1px; line-height: 0; text-indent: 150%; white-space: nowrap;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

.table-sticky thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f8f9fa;
}

#imageDisplayer {
    text-align: center;
}

#imageDisplayer .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imageDisplayer .button-container {
    margin-top: 10px;
}

#add-btn {
    margin-bottom: 10px;
}

#displayedImage {
    height: 500px;
}
